{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProvidingServices</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav font-600 font-up font-sm">
                    <a class="nav-link" href="home">Services</a>
                    <a class="nav-link" href="about">About</a>
                    <a class="nav-link" href="authentication_page">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>

    {% block home %}

    {% endblock %}

    {% block authentication_page %}

    {% endblock %}

    {% block about %}

    {% endblock %}
    
</body>
</html>