{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProvidingServices</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav font-600 font-up font-sm">
                    <a class="nav-link" href="home">Services</a>
                    <a class="nav-link" href="">About</a>
                    <a class="nav-link" href="">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>

    {% block home %}

    {% endblock %}

    {% block authentication_page %}

    {% endblock %}

</body>
</html>