{% extends 'base.html' %}
{% load static %}

{% block home %}
    <h1>User Services</h1>
    <br/>
    <ul>
    {% for services in object_list %}
        <li><a href="{% url 'service_details' services.pk %}">{{ services.title }}</a>  - {{ services.author.first_name }}
            {{ services.author.last_name }}</br>
        {{ services.dt }}</li></br>
        </br>
    {% empty %}
        <br/><br/>
        <small>Sorry</small><br/>
        <small>No services yet...</small>
    {% endfor %}
    </ul>

{% endblock %}