{% extends 'home.html' %}
{% load static %}

{% block title %}{{ service.title }}{% endblock %}

{% block content %}
    <h2>Category: {{ service.category }}</h2>
    <h1>{{ service.title }}</h1>
    <br/><br/>
    <h3>Phone: {{ service.phone }} | Email: {{ service.author.email }}</h3>
    <small>{{ service.author.first_name }} {{ service.author.last_name }}</small></br>
    <small>{{ service.dt }}</small></br>
    <hr>
    </br>
    <h2>{{ service.text }}</h2></br>
    <h2>{{ service.image }}</h2></br>
    
<br/><br/>
<form action="{% url 'like_service' service.pk%}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
        <button type="submit", name="service_id", value="{{ service.id }}",
     class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
    <button type="submit", name="service_id", value="{{ service.id }}",
     class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    {% endif %}
    {{ total_likes }} Likes
</form>

<a href="{% url 'home' %}" class="btn btn-secondary">BACK</a>
{% if user.is_authenticated and user.pk == service.author.pk %}
<a href="{% url 'update_service' service.pk %}" class="btn btn-outline-warning">Edit</a>
<a href="{% url 'delete_service' service.pk %}" class="btn btn-danger">Delete</a>
{% endif %}
{% endblock %}