{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block authentication_page %}
    <div class="container">
    <h3>Sign In</h3>
    <br/>
    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="">UserName</label>
        <input type="text" id="username" name="username" placeholder="Enter Your Username" Required>    
        <br/>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        <br/>
        <br/>
        <button type="submit" class="btn btn-success">Sign In</button>
    </form>
    </div>
{% endblock %}